{% extends 'accounts/profile.html' %}


{% block side_bar %}
    <li class="">
		<a href="{% url 'ship:manifest_create' %}">
		<i class="glyphicon glyphicon-home"></i>
		Create Dock Manifest</a>
	</li>
	<li class="">
		<a href="{% url 'ship:manifest_list' %}">
		<i class="glyphicon glyphicon-user"></i>
		Dock Manifests </a>
	</li>
	<li>
		<a href="{% url 'ship:overview' %}" target="_blank">
		<i class="glyphicon glyphicon-ok"></i>
		 Docks List </a>
	</li>
	<li>
		<a href="{% url 'ship:ships' %}" target="_blank">
		<i class="glyphicon glyphicon-ok"></i>
		 Ships List </a>
	</li>
{% endblock %}


{% block profile_content %}
    <div class="py-3 px-3">
        <div class="row">
            <div class="col-sm-10">
                <h3>{{ item }} Detail</h3>
                <table class="table table-responsive table-bordered table-striped table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th>Dock</th>
                            <th>Ship</th>
                            <th>Arrival Time</th>
                            <th>Departure Time</th>
                            <th>Offload Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in object_list %}  
                        <tr>
                            <td>{{ item.dock }}</td>
                            <td>{{ item.ship }}</td>
                            <td>{{ item.arrival }}</td>
                            <td>{{ item.departure }}</td>
                            <td>{{ item.offload }}</td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="5" class="text-warning">No dock manifest yet.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-sm-2">
                
            </div>
        </div>
    </div>
{% endblock %}


