{% extends 'base.html' %}


{% block content %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">About Us</li>
        </ol>
    </nav>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
					<div class="py-3">
						<center><h3>Our Missio</h3></center>
						<p class="text-justify">
							Our Vision is to build a system that will reduce congestion of
							goods on the basis of first come first serve.
							Our Vision is to build a system that will reduce congestion of
							goods on the basis of first come first serve.
							Our Vision is to build a system that will reduce congestion of
							goods on the basis of first come first serve.
							Our Vision is to build a system that will reduce congestion of
							goods on the basis of first come first serve.
							Our Vision is to build a system that will reduce congestion of
							goods on the basis of first come first serve.
							Our Vision is to build a system that will reduce congestion of
							goods on the basis of first come first serve.
							Our Vision is to build a system that will reduce congestion of
							goods on the basis of first come first serve.
							Our Vision is to build a system that will reduce congestion of
							goods on the basis of first come first serve.
							Our Vision is to build a system that will reduce congestion of
							goods on the basis of first come first serve.
							Our Vision is to build a system that will reduce congestion of
							goods on the basis of first come first serve.
						</p>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="py-3 px-3">
						<center><h3>Our Vision</h3></center>
						<p class="text-justify">
							Our Mission is to build a system that will reduce congestion of
							goods on the basis of first come first serve.
							Our Mission is to build a system that will reduce congestion of
							goods on the basis of first come first serve.
							Our Mission is to build a system that will reduce congestion of
							goods on the basis of first come first serve.
							Our Mission is to build a system that will reduce congestion of
							goods on the basis of first come first serve.
							Our Mission is to build a system that will reduce congestion of
							goods on the basis of first come first serve.
							Our Mission is to build a system that will reduce congestion of
							goods on the basis of first come first serve.
							Our Mission is to build a system that will reduce congestion of
							goods on the basis of first come first serve.
							Our Mission is to build a system that will reduce congestion of
							goods on the basis of first come first serve.
							Our Mission is to build a system that will reduce congestion of
							goods on the basis of first come first serve.
						</p>
					</div>
				</div>

    <div class="info-wrap">
          <div class="row">
            <div class="col-lg-3 col-md-6 info mt-4 mt-lg-0">
              <h4>Location:</h4>
              <p>Orita Street,<br>Ilaro, Ogun state, Nigeria.</p>
            </div>

            <div class="col-lg-3 col-md-6 info mt-4 mt-lg-0">
              <i class="icofont-clock-time icofont-rotate-90"></i>
              <h4>Open Hours:</h4>
              <p>Monday-Saturday:<br>11:00 AM - 09:00 PM</p>
            </div>

            <div class="col-lg-3 col-md-6 info mt-4 mt-lg-0">
              <i class="icofont-envelope"></i>
              <h4>Email:</h4>
              <p>oluwatosinjosephdurodola@gmail.com</p>
            </div>

            <div class="col-lg-3 col-md-6 info mt-4 mt-lg-0">
              <i class="icofont-phone"></i>
              <h4>Call:</h4>
              <p>+234 903 646 1479
            </div>
          </div>
    </div>
		</div>
</div>

{% endblock %}
