{% extends 'base.html' %}

{% block content %}
   <nav aria-label="breadcrumb">
       <ol class="breadcrumb">
           <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
           <li class="breadcrumb-item"><a href="{% url 'home' %}"></a>Services</li>
       </ol>
   </nav>
   
   <main id="main">
       <div class="container">
           <div class="row">
                   {% for item in service_list %}
                        <div class="col-sm-12 border border-light">
                            <div class="row">
                           <div class="col-sm-12">
                               <h2><a href="{% url 'services:detail' item.pk %}">{{ item.name }}</a></h2>
                            </div>
                           <div class="col-sm-5">
                               <div class="py-3 px-3 my-3 mx-3">
                                   <a href="{% url 'services:detail' item.pk %}">
                                       <img class="img-fluid" src="{{ item.image.url }}" alt="{{ item }} image" />
                                   </a>
                               </div>
                           </div>
                           <div class="col-sm-7">
                               <div class="py-3 px-3 my-3 mx-3">
                                   <a href="{% url 'services:detail' item.pk %}">
                                       <ul class="list-group">
                                           <li class="list-item">{{ item.bullet_one }}</li>
                                           <li class="list-item">{{ item.bullet_two }}</li>
                                           <li class="list-item">{{ item.bullet_three }}</li>
                                       </ul>
                                   </a>
                               </div>
                           </div>
                           <div class="col-sm-12">
                               <div class="py-3 px-3 my-3 mx-3 bg-light rounded">
                                   <p><a href="{% url 'services:detail' item.pk %}">{{ item.description }}</a></p>
                               </div>
                           </div>
                           
                           {% empty %}
                              <div class="py-3 px-3 mx-3 my-3 border">
                                 <h2 class="text-warning">An error occured. Consult the Admin</h2>
                              </div>
                            </div>   
                        </div>    
                           {% endfor %}
                           
               
               
           </div>
           <!-- end row -->
       </div>
       <!-- end container -->
   </main>

{% endblock %}









